p {
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: $paragraph-line-height;
  margin-top: 1.5rem;

  + .btn-wrapper {
    margin-top: 3rem;
  }
}

.description {
  font-size: $font-size-sm;
}
blockquote {
  padding: 2.5rem $btn-padding-x $btn-padding-y $btn-padding-x;
  font-family: cursive;
  font-size: $paragraph-font-size;
  font-weight: $lead-font-weight;
  line-height: $paragraph-line-height;
  border-radius: $border-radius;
  background: url("../../../../img/theme/double-quotes.png");
  background-size: 3rem 3rem;
  background-color: $gray-100;
  background-repeat: no-repeat;
}


